In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\thomas\appdata\local\programs\python\python311\lib\site-packages (2.1.1)
Requirement already satisfied: numpy>=1.23.2 in c:\users\thomas\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\thomas\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\thomas\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\thomas\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\thomas\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import matplotlib as plt
import pandas as pd
from scipy.stats import pearsonr

In [3]:
data = pd.read_csv('istherecorrelation.csv', delimiter=';' )

In [4]:
data

    Year WO [x1000]  NL Beer consumption [x1000 hectoliter]
0   2006      205,9                                   11402
1   2007      208,6                                   11492
2   2008      212,7                                   11450
3   2009      220,5                                   11502
4   2010      233,2                                   11474
5   2011      242,4                                   11480
6   2012      245,4                                   11452
7   2013      241,4                                   11484
8   2014      250,2                                   11555
9   2015      255,7                                   11601
10  2016      261,2                                   11731
11  2017      267,9                                   11862
12  2018      280,1                                   12048

In [5]:
year = data['Year']
WO_consumption = pd.to_numeric(data['WO [x1000]'].str.replace(',', '.'))
Beer_consumption = data['NL Beer consumption [x1000 hectoliter]']

correlation_coefficient, _ = pearsonr(WO_consumption, Beer_consumption)

plt.figure( dpi=300)
plt.scatter(WO_consumption, Beer_consumption, marker='o', label='Data Points')
plt.plot(WO_consumption, Beer_consumption, color='red', linestyle='-', linewidth=1, label='Line Connecting Data')
plt.xlabel('WO Consumption [x1000]')
plt.ylabel('NL Beer Consumption [x1000 hectoliter]')
plt.title('Scatter Plot of WO and NL Beer Consumption')

plt.text(210, 11700, f'Correlation: {correlation_coefficient:.2f}', fontsize=12)


plt.legend()
plt.savefig('correlation_scatter_plot_with_line.png')

plt.show()

AttributeError: module 'matplotlib' has no attribute 'figure'